{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 1200px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .table-container{overflow: auto; height: 80vh;}
    table {border-collapse: collapse;}
    th {position: sticky;}
    th, td {border: 1px solid #000; text-align: center; min-width: 30px;}
    td {word-break: unset;}
    .first-collumn{width:100px; padding: 0 8px;}
</style>

<div class="example-wrapper">
    <h1>Hello There!</h1>
    <h4>Here is data of total signatures and total identifications by client, downloaded from API:</h4>
    <div class="table-container">
        <table>

            <tr>
                <th class="first-collumn">Months</th>
            {% for header in headers %}
                <th>{{header}}</th>
            {% endfor %}
            </tr>

            {% for month, clients in data %}
                <tr> 
                    <td>{{month}}</td> 
                    {% for value in clients %}
                        <td>{{value}}</td>
                    {% endfor %}
                </tr>
            {% endfor %}

        </table>
    </div>
</div>
{% endblock %}
